<div class="container">
    <div class="form">
        <app-form 
            [controls$]="formStructure$"
            [headerTemplate]="headerTemplate"
            [footerTemplate]="footerTemplate"  
            buttonName="Subscribe" 
            class="form_subscription">
            <ng-template #headerTemplate>
                <div class="headerTemplate">
                    <h2>Subscription</h2>
                    <p>Subscribe to news, promotions and discounts</p>
                </div>
            </ng-template>
            <ng-template #footerTemplate>
                <p class="text_center">Clicking "Subscribe", you agree to the terms of use of the service and the processing of personal data</p>
            </ng-template>
        </app-form>
    </div>
</div>