.img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

table {
    width: 96%;
    margin: 50px auto 20px;
}
.id {
    font-size: 12px;
}
.images {
    width: 35%;
}

