@import "src/assets/sass/abstracts/variables.scss";

.room_container {
    margin-bottom: 40px;
}
.btn {
    margin: 4px 0;
    min-width: 150px;
    &.btn-blue-outline {
        border-radius: 3px;
    }
}
h2 {
    margin-top: 0;
}
:host ::ng-deep {
    .mat-tab-header {
        background: #eef9fc;
        margin-bottom: 40px;
        margin-top: 1px;
    }
    .mat-tab-label-active {
        background: $color;
        opacity: 1;
        color: white;
    }
}
.order {
    display: flex;
    justify-content: space-between;
    border: 1px solid $border_gray;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 20px;
}

.items_container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    .btn {
        margin: 4px 0;
        width: 80px;
        height: 36px;
        font-size: 95%;
        margin-top: 9px;
        &:hover {
            background: $color_orange;
            color: white;
            border: 1px solid $color_orange;
        }
    }
}
.mat-tab-group {
    font-family: $font_regular;
}
:host ::ng-deep {
    @media screen and(max-width: $tablet) {
        .mat-tab-group {
            .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
                display: none;
            }
            .mat-tab-label {
                font-family: $font_bold;
                padding: 0;
            }
            .mat-tab-labels {
                justify-content: center;
            }
            .mat-tab-header {
                background: none;
            }
            .mat-tab-label {
                background: none;
                color: black;
                padding: 0 7px;
            }
        }
    }
}
