<div class="container">
    <div class="d_flex">
        <app-sidebar>
            <ul class="block">
                <li routerLinkActive="active" routerLink="/admin/hotels">Hotels</li>
                <li routerLinkActive="active" routerLink="/admin/rooms">Rooms</li>
                <li routerLinkActive="active" routerLink="/admin/amenities">Amenities</li>
                <li routerLinkActive="active" routerLink="/admin/cities">Cities</li>
            </ul>
        </app-sidebar>
        <app-wrapper class="wrapper">
            <router-outlet></router-outlet>
        </app-wrapper>
    </div>
</div>