:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    .logo {
        width: 122px;
        height: 75px;
        background: url(src/assets/images/logo.svg) no-repeat;
        background-size: 100%;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .socials {
        display: none;
    }
}
