@import 'src/assets/sass/abstracts/variables.scss';
:host {
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .img {
            width: 45px;
            height: 45px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .editItem_container {
        border: $border;
        padding: 10px 20px;
        margin-bottom: 15px;
    }
}

.edit_amenity_form ::ng-deep {
    .images_container .mat-card {
        width: 100%;
        height: 46px;
        img {
            object-fit: contain;
            max-width: 50px;
        }
        .remove {
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    mat-radio-group {
        flex-direction: row;
        justify-content: center;
        .mat-radio-button {
            margin: 0 20px;
        }
    }
}