<div class="block d_flex flex_wrap align_center justify_content_between">
    <div class="name">
        <strong><a>{{ item.name }}</a></strong>
    </div>
    <div *ngIf="hotelInfo">
        <strong><a routerLink="/hotel/{{ hotelInfo._id }}">{{ hotelInfo.name }}</a></strong>
        <app-star-rating [starRating]="hotelInfo.stars"></app-star-rating>
    </div>
</div>

<div class="block">
    <div class="price">
        <strong>{{ item.price }} <span class="currency">$</span></strong> / night
    </div>
</div>

<div class="block">
    {{ item.description }}
</div>

<div class="block images">
    <app-special [specials]="item.specials"></app-special>
    <div *ngFor="let img of item.images" class="img">
        <img [src]="img" alt="">
    </div>
</div>

<div class="block amenities">
    <div *ngFor="let amenity of amenities" class="amenity">
        <img [src]="amenity.image" alt="">
        {{ amenity.label }}
    </div>
</div>