<div class="container">
    <div class="d_flex">
        <app-sidebar>
            <ul class="block">
                <li routerLinkActive="active" routerLink="personal">Мой профиль</li>
                <li routerLinkActive="active" routerLink="orders">Мои заказы
                    <div class="notification" *ngIf="notification>0"><strong>{{ notification }}</strong></div>
                </li>
                <li routerLinkActive="active" routerLink="favorite">Избранное</li>
                <li (click)="logout()">Выйти</li>
            </ul>
        </app-sidebar>
        <app-wrapper class="wrapper">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </app-wrapper>
    </div>
</div>