<div class="container">
    <div class="d_flex">
        <app-sidebar class="ontop">
            <ul class="block">
                <li *ngIf="currUserRole == 'user'" routerLinkActive="active" routerLink="orders">My orders
                <li *ngIf="currUserRole == 'member'" routerLinkActive="active" routerLink="orders">Orders | {{ currUserRole }}
                    <div class="notification" *ngIf="notification>0"><strong>{{ notification }}</strong></div>
                </li>
                <li *ngIf="currUserRole == 'user'" routerLinkActive="active" routerLink="favorite">Избранное</li>
                <li routerLinkActive="active" routerLink="personal">Мой профиль</li>
                <li (click)="logout()">Выйти</li>
            </ul>
        </app-sidebar>
        <app-wrapper class="wrapper">
            <!-- <div class="container"> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        </app-wrapper>
    </div>
</div>