.mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}            .remove {
    position: absolute;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}