<div [formGroup]="form" class="">
    <div class="upload_button">
        <input type="file" [placeholder]="control.placeholder" multiple #imageInputs (change)="upload($event)">
        <div>
            <span></span>
            Upload images
        </div>
    </div>

    <div formArrayName="array" class="images_container" cdkDropList #todoList="cdkDropList"
        [cdkDropListData]="selectedFiles" (cdkDropListDropped)="onDrop($event)">
        <mat-card *ngFor="let item of imagesToShow; trackBy: trackById; index as i" cdkDrag>
            <div class="remove" (click)="removeImage(i)"><span class="icon icon_trash"></span></div>
           <img [src]="item" alt="">
        </mat-card>
    </div>
</div>