<app-form *ngIf="formStructure$" 
    [controls$]="formStructure$" 
    (valueChange)="onSubmit($event)" 
    [headerTemplate]="headerTemplate"
    [footerTemplate]="footerTemplate"
    class="login_form">

    <ng-template #headerTemplate>
        <h2 class="text_center">Registration</h2>
    </ng-template>
    
    <ng-template #footerTemplate>
         <button type="submit" class="btn btn-orange w_100">Register</button>
        <button (click)="openModal()" class="btn btn-grey-outline w_100">I have an account</button>
    </ng-template>

</app-form>