  <form *ngIf="control?.options">
    <div *ngIf="control?.label" class="label" [ngClass]="{'required': control.required }">
      {{control.label}}
    </div>
    <mat-form-field class="example-full-width" floatLabel="never">
      <input type="text"
             [placeholder]="control?.placeholder"
             aria-label="Number"
             matInput
             [formControl]="formControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of control.options" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>