<div class="room {{ order.status }}">
    <div class="img">
        <img [src]="order.image" alt="">
    </div>
    <div class="info">
        <h3>
            <a><strong>{{ order.hotel.label }}</strong></a>
            <app-star-rating [starRating]="order.hotel.stars"></app-star-rating>
        </h3>
        <strong>{{ order.room_name}}</strong>
        <div>
            <span class="date">Date:</span>
            {{ order.date[0] | formatDate : 'date' }} - {{ order.date[1] | formatDate : 'date' }}
        </div>
        <hr>
        <div class="d_flex align_center justify_content_center">
            <div class="text_center"><strong>{{ order.nights }} nights</strong></div>
            <div class="pex justify_content_center">
                <span *ngIf="order.pex.adults">
                    <div *ngFor="let _ of arrayFrom(order.pex.adults);">
                        <span class="icon icon_adult"></span>
                    </div>
                </span>
                <span *ngIf="order.pex.children">
                    <div *ngFor="let _ of arrayFrom(order.pex.children);">
                        <span class="icon icon_child"></span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="place"><span></span>{{ order.hotel.address.city.label }}, {{ order.hotel.address.street }}
        </div>
        <div class="text_center">
            {{ order.price | customCurrency }} <span class="currency">$</span> x {{ order.nights }} nights <br>
            <div class="price">
                <span class="blue">
                    <strong>{{ order.price * order.nights  | customCurrency }}
                        <span class="currency">$</span></strong>
                </span>
            </div>

        </div>
        <button (click)="cancel(order._id)" class="btn btn-grey-outline w_100">
            <!-- <span *ngIf="loading && calceledRoomId == order.id">
                <mat-spinner strokeWidth="3" diameter="20"></mat-spinner>
            </span> -->
            Cancel
        </button>
        <a class="edit"><strong>Редактировать бронирование</strong></a>
    </div>
</div>