<div *ngIf="( bookings$ | async )?.length == 0">
    <div class="subtitle">No orders yet.</div>
</div>

<div *ngFor="let state of states; trackBy: trackById">

    <div class="{{ state }}" *ngIf="( bookings$  | async | filterByStatus: state )?.length > 0">
        <div class="subtitle" *ngIf="state!='confirmCancel'">
            {{ state | capitalize }} orders
        </div>

        <div *ngFor="let item of bookings$ | async | filterByStatus: state; trackBy: trackById">
            <div *ngIf="state == 'confirmCancel'" class="note">
                <mat-spinner strokeWidth="3" diameter="20" class="blue_spinner"></mat-spinner>
                <p>Your order is being in process. <br>
                    Please, wait while your suplier will confirm a canceling.</p>
            </div>

            <app-user-order-item [order]="item">
                <div class="btn_controls">
                    <div *ngIf="state=='active'">
                        <button 
                            (click)="changeOrderStatus(item._id,'confirmCancel')" 
                            class="btn btn-grey-outline w_100">
                            Cancel
                        </button>
                        <a class="edit"><strong>Edit booking</strong></a>
                    </div>
                    <div *ngIf="state =='canceled' || state == 'completed'">
                        <button class="btn btn-orange w_100" (click)="changeOrderStatus(item._id,'active')">Reorder</button>
                    </div>
                </div>
            </app-user-order-item>

        </div>
    </div>

</div>