<div class="menu" *ngIf="!isTablet">
    <div class="container">
        <ul>
            <li class="separator"><span></span></li>
            <li><a href routerLink="/">Home</a></li>
            <li class="separator"><span></span></li>
            <li><a href routerLink="/catalog">Choose hotel</a></li>
            <li class="separator"><span></span></li>
            <li><a href routerLink="/about">About us</a></li>
            <li class="separator"><span></span></li>
            <li><a href routerLink="/add-hotel">+ Add hotel</a></li>
            <li class="separator"><span></span></li>
        </ul>
    </div>
</div>

<div class="menu" *ngIf="isTablet" [ngClass]="{ 'isTablet' : isTablet }">
    <div class="gamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <button mat-icon-button 
        [matMenuTriggerFor]="menu" 
        aria-label="Example icon-button with a menu">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a href routerLink="/">Home</a></button>
        <button mat-menu-item><a href routerLink="/catalog">Choose hotel</a></button>
        <button mat-menu-item><a href routerLink="/about">About us</a></button>
        <button mat-menu-item><a href routerLink="/add-hotel">+ Add hotel</a></button>
      </mat-menu>
</div>

