@import "src/assets/sass/abstracts/variables.scss";
:host {
    background: url(src/assets/images/main.png) no-repeat top center;
    padding-bottom: 40px;
    display: block;
    @media only screen and (max-width: $tablet) {
        background-size: cover;
        background-position: -200px top;
    }
}