<app-main-screen></app-main-screen>

<div class="container">
    <!-- <div class="section">
        <h2 class="text_center">Best deals</h2>
        <div class="d_flex flex_wrap w_100">
          <app-card-item *ngFor="let room of filteredRooms | async; trackBy: trackById;" [room]="room"></app-card-item>
        </div>
        <button (click)="showMoreRooms()" class="more btn btn-blue-outline">Загрузить еще</button>
    </div> -->

    <div class="section">
        <h2 class="text_center">Travel reservation service</h2>
        <p>Hotels often work together with several travel booking sites, such as Booking.com, Expedia and others, to help you book a stay in their hotel. But because each website can have a different price agreement with the hotel, the prices offered to you can vary a lot from site to site. That’s where we come in.</p>

        <p>We compare offers from different hotel and travel sites in order to help you find the best hotel deals worldwide in every search.</p>

        <p>We are focused on bringing our visitors hotel price transparency, comparing hundreds of different travel sites and presenting their offers in an easy to use interface. In order to bring you the best hotel offers possible, we work with an extensive supplier network and actively engage with trusted third party companies, who in turn, present dynamic content to our users.</p>

        <p>So, when you want to book a hotel, be sure to compare prices first through our FindHotel service, so you can get the best deal for your hotel stay!</p>
    </div>
</div>

<app-google-maps 
    [key]="mapApiKey" 
    [zoom]="4" 
    [mapLat]="mapLat" 
    [mapLng]="mapLng">
    <ng-template let-google="google" let-map="map">
        <app-google-map-marker *ngFor="let marker of markers; trackBy: trackById" [google]="google" [map]="map"
            [lat]="marker.lat" 
            [lng]="marker.lng">
        </app-google-map-marker>
    </ng-template>
</app-google-maps>
