<app-main-screen></app-main-screen>

<div class="container">
    <div class="section">
        <h2 class="text_center">Лучшие предложения рядом с вами</h2>
        <div class="d_flex flex_wrap w_100">
          <!-- <app-card-item *ngFor="let room of filteredRooms | async; trackBy: trackById;" [room]="room"></app-card-item> -->
        </div>
        <!-- <button (click)="showMoreRooms()" class="more btn btn-blue-outline">Загрузить еще</button> -->
    </div>

    <div class="section">
        <h2 class="text_center">Сервис бронирования жилья для поездок</h2>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
            осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
            домашних условиях. </p>
        <p>При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами
            случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным
            и живым для визуально-слухового восприятия.</p>
    </div>
</div>

<app-google-maps 
    [key]="mapApiKey" 
    [zoom]="9" 
    [mapLat]="mapLat" 
    [mapLng]="mapLng">
    <ng-template let-google="google" let-map="map">
        <app-google-map-marker *ngFor="let marker of markers; trackBy: trackById" [google]="google" [map]="map"
            [lat]="marker.lat" 
            [lng]="marker.lng">
        </app-google-map-marker>
    </ng-template>
</app-google-maps>
