<div *ngIf="needCountSlides" class="count_slides">{{ currentSlide }} / {{ countSlides() }}</div>

<ngx-slick-carousel class="carousel img{{ id }}"
    #slickModal="slick-carousel" 
    [config]="config" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">

    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>



<div class="thumbnail_slider" *ngIf="thumbnailsConfig && id">
    <ngx-slick-carousel 
        class="carousel thumbnail{{ id }}"
        #slickModal="slick-carousel" 
        [config]="thumbnailsConfig">

        <div ngxSlickItem *ngFor="let slide of slides; trackBy: trackById" class="slide">
            <img src="{{ slide }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>