@import "src/assets/sass/abstracts/variables.scss";
:host {
    background: #0c5987;
    padding: 50px 0 30px;
    padding: 7px 0 7px;
    color: white;
    line-height: 25px;
    line-height: 33px;
    display: block;
    a {
        color: white;
        border-bottom: 1px solid #3b7ea6;
        text-decoration: none;
    }
    hr {
        border: none;
        border-bottom: 1px solid #3b7ea6;
        margin: 40px 0 20px;
    }
    .logo {
        filter: brightness(0) invert(1);
        float: left;
        margin-right: 44px;
    }
    p {
        line-height: 23px;
        padding-top: 35px;
    }
    .columns {
        @media screen and(max-width: $mobile) {
            flex-direction: column;
            .logo svg {
                height: 49px;
            }
            p {
                line-height: 15px;
                padding-top: 0;
                font-size: 11px;
            }
        }
    }
}
