@font-face {
    font-family: "Gotham Pro";
    src: 
    url(src/assets/fonts/GothamPro.eot) format("eot"),
    url(src/assets/fonts/GothamPro.ttf) format("ttf"),
    url(src/assets/fonts/GothamPro.woff) format("woff"),
    url(src/assets/fonts/GothamPro.woff2) format("woff2");
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: 
    url(src/assets/fonts/GothamPro-Bold.eot) format("eot"),
    url(src/assets/fonts/GothamPro-Bold.ttf) format("ttf"),
    url(src/assets/fonts/GothamPro-Bold.woff) format("woff"),
    url(src/assets/fonts/GothamPro-Bold.woff2) format("woff2");
    font-weight: bold;
}
