<mat-tab-group animationDuration="0ms">
    <mat-tab label="New orders">
        <h2 class="header_title">New orders</h2>

        <div *ngFor="let item of bookings$ | async ; trackBy: trackById" class="room_container">
            <div class="room {{ item.status }}">
                <div class="img">
                    <img [src]="item.image" alt="">
                </div>
                <div class="info">
                    <h3>
                        <a><strong>{{ item.hotel.label }}</strong></a>
                        <app-star-rating [starRating]="item.hotel.stars"></app-star-rating>
                    </h3>
                    <a routerLink="/room/{{ item.room_id }}" class="room_name"><strong>{{ item.room_name}}</strong></a>
                    <div>
                        <span class="date">Date:</span>
                        {{ item.date[0] | formatDate }} - {{ item.date[1] | formatDate }}
                    </div>
                    <hr>
                    <div><strong>{{ item.nights }} nights</strong></div>
                    <div class="d_flex pex">
                        <div class="d_flex align_center">Adults: <span class="circle">{{ item.pex.adults }}</span></div>
                        <div class="d_flex align_center">Children: <span class="circle">{{ item.pex.children }}</span>
                        </div>
                        <div class="d_flex align_center">Ages: <span class="circle">{{ item.pex.ages }}</span></div>
                    </div>
                </div>
                <div class="button">
                    <div class="text_center">
                        {{ item.price | customCurrency }} <span class="currency">$</span> x {{ item.nights }} nights
                        <br>
                        <div class="price">
                            <span class="blue">
                                <strong>{{ item.price * item.nights  | customCurrency }}
                                    <span class="currency">$</span></strong>
                            </span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="actions">
                <mat-radio-group aria-label="Select an option" [formControl]="actionControl">
                    <mat-radio-button value="active">Accept order</mat-radio-button>
                    <mat-radio-button value="completed">Complete order</mat-radio-button>
                    <mat-radio-button value="canceled">Cancel order</mat-radio-button>
                  </mat-radio-group>
                <button class="btn btn-white">Confirm</button>
            </div>
        </div>
















    </mat-tab>
    <mat-tab label="Current orders">
        <h2 class="header_title">Current orders</h2>
    </mat-tab>
    <mat-tab label="Completed">
        <h2 class="header_title">Completed orders</h2>
    </mat-tab>
    <mat-tab label="Canceled">
        <h2 class="header_title">Canceled orders</h2>
    </mat-tab>
</mat-tab-group>