@import "src/assets/sass/abstracts/mixins.scss";
@import "src/assets/sass/abstracts/variables.scss";
:host {
    min-height: calc(100% - 240px);
    display: block;
}
ul {
    li {
        position: relative;
        @include transition;
        a {
            border-bottom: $border;
            color: #484848;
            padding: 16px 20px;
            display: block;
            cursor: pointer;
            &:hover,
            &.active {
                color: white;
                background: $background_color;
                @include transition;
            }
        }
    }
}
.wrapper {
    width: 100%;
}
.page_content {
    display: flex;
}
@media screen and(max-width: $tablet) {
    .container {
        max-width: 100%;
        .page_content {
            flex-direction: column;
            ul {
                display: flex;
                border-bottom: 1px solid #dcdcdc;
                li a {
                    border: none;
                    padding: 16px 9px;
                }
            }
        }
        .wrapper {
            padding-right: 20px;
        }
    }

    .page_content .ontop ::ng-deep {
        .block {
            box-shadow: none;
            border: none;
            width: 100%;
        }
    }
}
