$font_regular: "Gotham Pro";
$font_bold: "Gotham Pro Bold";

$color: #0098db;
$background_color: #0098db;

$color_orange: #FF6847;

$border: 1px solid #dcdcdc;
$border_blue: 1px solid #0098db;
$border_input: 1px solid #d6e7f0;
