$font_regular: "Gotham Pro";
$font_bold: "Gotham Pro Bold";

$color: #0098db;
$text_color: #484848;
$color_grey: #dcdcdc;
$background_color: #0098db;

$color_orange: #ff6847;

$border: 1px solid #dcdcdc;
$border_blue: 1px solid #0098db;
$border_gray: #dcdcdc;
$border_input: 1px solid #d6e7f0;

$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;