@import "src/assets/sass/abstracts/mixins.scss";
@import "src/assets/sass/abstracts/variables.scss";
:host{
    min-height: calc(100% - 240px);
    display: block;
}
ul {
    li {
        border-bottom: $border;
        padding: 16px 20px;
        cursor: pointer;
        position: relative;
        @include transition;
        &:hover,
        &.active {
            color: white;
            background: $background_color;
            @include transition;
        }
    }
}

.wrapper {
    width: 100%;
}
