.forget {
    color: #0098db;
    font-size: 13px;
    float: right;
    cursor: pointer;
    text-decoration: underline;
}
.isTablet ::ng-deep {
    .popup .mat-dialog-container {
        width: 100%;
        padding: 30px 31px 22px;
    }
}
