<div *ngIf="currUser?.role != 'user' || !currUser; else showForm">
    <h2 class="text_center">In order to choose the room <br> please, sign in or register</h2>
    <button [mat-dialog-close]="true" class="close">
        <mat-icon>close</mat-icon>
    </button>
    <button (click)="openLogInModal()" type="submit" class="btn btn-orange w_100">Sign in</button>
    <button (click)="openRegModal()" type="button" class="btn btn-grey-outline w_100">Create account</button>
</div>

<ng-template #showForm>
    <h2>{{ room.name }}</h2>
    <button [mat-dialog-close]="true" class="close">
        <mat-icon>close</mat-icon>
    </button>

    <div class="price">
        <span class="blue">{{ room.price | customCurrency }} <span class="currency">$</span></span>
        <span> / night</span>
    </div>

    <app-form
        *ngIf="controls$"
        [controls$]="controls$"
        (valueChange)="onSubmit($event)" 
        [contentTemplate]="contentTemplate"
        buttonName="Reserve"
        class="order_form">
        
        <ng-template #contentTemplate>
            <div *ngIf="nights">
                <div class="d_flex justify_content_between">
                    <span>{{ room.price | customCurrency }} <span class="currency">$</span> x {{ nights }} nights</span>
                    <span>{{ total | customCurrency}} <span class="currency">$</span></span>
                </div>
                <div class="total d_flex justify_content_between">
                    <strong>Итого</strong>
                    <strong class="price">{{ total | customCurrency }} <span class="currency">$</span></strong>
                </div>
            </div>
        </ng-template>
    </app-form>
    <!-- <app-alert-message class="alert"></app-alert-message> -->
</ng-template>