h2 {
    margin: 50px 0 44px;
    text-transform: uppercase;
}

.attach_amenity_form ::ng-deep {
    .images {
        text-align: center;
        .upload_button {
            margin-top: 20px;
            div {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }
            margin-bottom: 40px;
        }
    }
    .mat-radio-group {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .mat-radio-button {
            margin: 15px;
        }
    }
}