<div class="container">
    <h1 class="title text_center">About Us</h1>

    <h3 class="text_center"><strong>Travelto finds the best hotel deals from different appartment owners <br> with quick search, and is completely
        free to use!</strong></h3>
    <br>

    <h3><strong>How it works </strong></h3>

    <p> Hotels often work together with several travel booking sites, such as Booking.com, Expedia and others, to help
        you book a stay in their hotel. But because each website can have a different price agreement with the hotel,
        the prices offered to you can vary a lot from site to site. That’s where we come in.</p>
    <p> We compare offers from different hotel and travel sites in order to help you find the best hotel deals worldwide
        in every search.</p>
    <p> We are focused on bringing our visitors hotel price transparency, comparing hundreds of different travel sites
        and presenting their offers in an easy to use interface. In order to bring you the best hotel offers possible,
        we work with an extensive supplier network and actively engage with trusted third party companies, who in turn,
        present dynamic content to our users.</p>
    <p> So, when you want to book a hotel, be sure to compare prices first through our FindHotel service, so you can get
        the best deal for your hotel stay!</p>

    <h3><strong>A specialist in the hotel sector</strong></h3>

    <p> FindHotel is a specialist in the hotel price comparison segment. We are a highly multinational team with 7 years
        of experience in the online travel business and with a mission to allow our visitors to get the best possible
        price and availability for their hotel of choice. FindHotel operates some of the leading hotel comparison sites
        in markets as diverse as Israel, Saudi Arabia, France and Sweden, and offers services in more than 20 different
        languages.</p>
</div>