@import "src/assets/sass/abstracts/variables.scss";
:host {
    border: 1px solid #0098db;
    box-shadow: 0px 0px 15px rgba(25, 154, 210, 0.29);
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 14px;
    display: block;
    color: #484848;
    font-family: $font_regular;
    // height: 100%;
    h4 {
        font-family: $font_bold;
        font-size: 17px;
    }
    a {
        color: $color;
    }
    .feature {
        border: 1px solid #c1e1ef;
        border-radius: 2px;
        background: #f8fdff;
        padding: 5px 10px;
        float: left;
        margin: 5px;
        height: 35px;
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    .amenities {
        display: flex;
        clear: both;
        flex-wrap: wrap;
        div {
            width: 36px;
            height: 36px;
            border: 1.5px solid $color_orange;
            display: flex;
            border-radius: 50px;
            margin-right: 9px;
            margin-top: 11px;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: auto;
                max-height: 22px;
                max-width: 22px;
            }
        }
    }
    &.hotel {
        .item_container {
            display: flex;
            flex-direction: column;
            height: calc(100% - 42px);
            .end_block {
                clear: both;
                margin-top: auto;
            }
        }
        ul {
            margin-top: 10px;
        }
    }
    &.catalog {
        border: $border;
        box-shadow: none;
        .item_container {
            display: flex;
        }
        .end_block {
            border-left: $border;
            padding-left: 20px;
            min-width: 197px;
            position: relative;
            .details {
                top: 50%;
                position: absolute;
                transform: translate(0, -50%);
                .price {
                    margin-bottom: 10px;
                }
            }
        }
        ul{
            margin: 10px -3px;
        }
    }
    .more {
        color: $color;
        cursor: pointer;
        span:nth-child(2) {
            border-bottom: 1px solid #0098db;
        }
    }
    .hotel_name {
        margin-top: 8px;
        a {
            padding-right: 10px;
            color: $text_color;
        }
    }
}
:host.catalog ::ng-deep {
    .carousel .slick-next,
    .carousel .slick-prev {
        z-index: -1;
    }
}
:host.hotel ::ng-deep {
    .carousel {
        .slick-next,
        .slick-prev {
            z-index: 1;
        }
    }
}

