@import "src/assets/sass/abstracts/variables.scss";
:host {
    border: 1px solid #0098db;
    box-shadow: 0px 0px 15px rgba(25, 154, 210, 0.29);
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 14px;
    display: block;
    color: #484848;
    font-family: $font_regular;
    h4 {
        font-family: $font_bold;
        font-size: 17px;
    }
    a {
        color: $color;
    }
    .feature {
        border: 1px solid #c1e1ef;
        border-radius: 2px;
        background: #f8fdff;
        padding: 5px 10px;
        float: left;
        margin: 3px;
        height: 32px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .amenities {
        display: flex;
        clear: both;
        flex-wrap: wrap;
        div {
            width: 36px;
            height: 36px;
            border: 1.5px solid $color_orange;
            display: flex;
            border-radius: 50px;
            margin-right: 9px;
            margin-top: 11px;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: auto;
                max-height: 22px;
                max-width: 22px;
            }
        }
    }
    &.hotel {
        height: 100%;
        .item_container {
            display: flex;
            flex-direction: column;
            height: 100%;
            .end_block {
                clear: both;
                margin-top: auto;
            }
        }
        ul {
            float: left;
        }
        .feature {
            font-size: 11px;
            height: 28px;
            margin: 3px;
        }
    }
    &.catalog {
        border: $border;
        box-shadow: none;
        .item_container {
            display: flex;
            justify-content: space-between;
            .center_block {
                padding: 0 20px 0 10px;
                width: 50%;
            }
            .end_block {
                width: 18%;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    border-left: $border;
                    width: 100%;
                    height: 100%;
                    margin-left: -15px;
                }
                .details {
                    top: 50%;
                    position: absolute;
                    transform: translate(0, -50%);
                    width: 100%;
                    .price {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        ul {
            margin: 10px -3px;
        }
    }
    .more {
        color: $color;
        cursor: pointer;
        span:nth-child(2) {
            border-bottom: 1px solid #0098db;
        }
    }
}
:host.catalog ::ng-deep {
    .carousel .slick-next,
    .carousel .slick-prev {
        z-index: -1;
    }
}
:host.hotel ::ng-deep {
    .carousel {
        .slick-next,
        .slick-prev {
            z-index: 1;
        }
    }
}
::ng-deep .mat-tooltip {
    color: $text_color !important;
    font-size: 12px;
    font-family: $font_regular;
    border: 1px solid #c1e1ef;
    border-radius: 2px;
    background: #f8fdff;
}

@media screen and (max-width: 768px) {
    :host.catalog .item_container {
        flex-direction: column;
        .img {
            margin-bottom: 15px;
        }
        .center_block {
            width: 100%;
            padding: 0;
        }
        .end_block {
            width: 100%;
            position: relative;
            .details {
                top: unset;
                position: relative;
                transform: unset;
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    :host .amenities div {
        width: 30px;
        height: 31px;
        margin-right: 3px;
        margin-left: 3px;
        img {
            max-height: 18px;
            max-width: 18px;
        }
    }
}
