@import "src/assets/sass/abstracts/variables.scss";
:host {
    border: 1px solid #0098db;
    box-shadow: 0px 0px 15px rgba(25, 154, 210, 0.29);
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 14px;
    display: block;
    color: #484848;
    font-family: $font_regular;
    height: 100%;
    h4 {
        font-family: $font_bold;
        font-size: 17px;
        a {
            color: $color;
        }
    }
    .feature {
        border: 1px solid #c1e1ef;
        border-radius: 2px;
        background: #f8fdff;
        padding: 5px 10px;
        float: left;
        margin: 5px;
        height: 35px;
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    &.hotel {
        .item_container {
            display: flex;
            flex-direction: column;
            height: calc(100% - 42px);
            .end_block {
                clear: both;
                margin-top: auto;
            }
        }
        ul {
            margin-top: 10px;
        }
        .price {
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
}
