<ng-content select=".header_templ_top"></ng-content>

    <div class="item_container">
        <div class="img">
            <app-special 
                [specials]="room.specials">
            </app-special>

            <app-carousel 
                [id]="room._id" 
                [slides]="room.images" 
                [config]="config"
                [thumbnailsConfig]="thumbnailsConfig">
            </app-carousel>
        </div>

        <div class="center_block">
            
            <ng-content select=".header_templ_center"></ng-content>
           
            <ul>
                <li *ngFor="let item of room.textFeatures | limit:limit; trackBy: trackById;" class="feature">
                    {{ item }}
                </li>
                <li class="more feature" (click)="showMore()" *ngIf="showbutton && room.textFeatures?.length > 0">
                    <strong>
                        <span>... </span>
                        <span>show more</span>
                    </strong>
                </li>
            </ul>
            <div class="amenities">
                <div *ngFor="let item of room.hotel.amenities; trackBy: trackById">
                    <img [src]="URL + item.image" [alt]="item.label" [matTooltip]="item.label">
                </div>
            </div>
        </div>

        <div class="end_block">
            <div class="details">
                <ng-content select=".end_block"></ng-content>
            </div>
        </div>

    </div>
