<div class="container" *ngIf="(rooms$ | async)?.length">
    <div class="d_flex">
        <app-sidebar class="sidebar">
            <div class="title">
                <strong>Filter:</strong>
            </div>
            <app-form 
                *ngIf="formStructure$"
                [controls$]="formStructure$" 
                (valueChange)="onSubmit($event)"
                buttonName="sdsd"
                class="filter_form">
            </app-form>
        </app-sidebar>
        <app-wrapper class="wrapper">
            <div class="title">
                <strong>Founded {{ (rooms$ | async)?.length }} options:</strong>
            </div>

            <app-filter-tabs></app-filter-tabs>

            <ng-container *ngFor="let room of rooms$ | async | reverse; trackBy: trackById">
                <app-card 
                    [room]="room" 
                    class="catalog"
                    limit="3" quantity="1">
                    <div class="header_templ_center">
                        <h3><a routerLink="/room/{{ room._id }}">{{ room.name }}</a></h3>
                    </div>
                    
                    <div class="end_block">
                        <div class="price text_center">
                            <span class="blue">
                                <strong>
                                    {{ room.price | customCurrency }} <span class="currency">$</span>
                                </strong>
                            </span> / night
                        </div>
                        <div class="buttons">
                            <button class="btn btn-orange w_100">Choose your room</button>
                            <button class="btn btn-grey-outline w_100" routerLink="">About hotel</button>
                        </div>
                    </div>
                </app-card>
            </ng-container>
        </app-wrapper>
    </div>
</div>