@import "src/assets/sass/abstracts/variables.scss";

.content_container {
    display: flex;
    @media only screen and (max-width: $tablet) {
        flex-direction: column;
    }
}
.title {
    font-size: 1.2rem;
    color: #484848;
    margin: 10px 0 0;
}
.sidebar ::ng-deep {
    max-width: 300px;
    .checkboxes_container {
        .mat-checkbox {
            display: block;
        }
    }
}
.wrapper {
    width: 100%;
    padding-right: 0;
    padding-top: 30px;
    @media only screen and (max-width: $tablet) {
        padding-left: 0;
    }
}
.isTablet .btn {
    margin-top: 20px;
}
:host .isTablet ::ng-deep .block {
    border: none;
    box-shadow: none;
    width: 100%;
}
