@import "src/assets/sass/abstracts/variables.scss";
a {
    color: $color;
}
.wrapper {
    width: 100%;
}
.catalog ::ng-deep {
    .carousel {
        height: 200px;
        width: 300px;
        overflow: hidden;
    }
    .center_block {
        padding: 0 20px;
    }
}
h3 {
    font-family: $font_bold;
    margin: 3px 0 11px;
    a {
        color: black;
    }
}
