<div class="block d_flex align_center justify_content_between">
    <div class="name">
        <strong><a>{{ item?.name }}</a></strong>
        <!-- <app-star-rating [starRating]="hotelInfo?.stars"></app-star-rating> -->
    </div>
    <div>
        <div class="place"><span></span>{{ item?.address.city }}, {{ item?.address.street }}</div>
    </div>
</div>


<div class="block">
    {{ item?.description }}
</div>

<div class="block images">
    <div *ngFor="let img of item?.images" class="img">
        <img [src]="img" alt="">
    </div>
</div>

<div class="block amenities">
    <div *ngFor="let amenity of hotelAmenities" class="amenity">
        <img [src]="amenity.images[0]" alt="">
        {{ amenity.label }}
    </div>
</div>

<hr>