<div class="block d_flex align_center justify_content_between">
    <div class="name">
        <strong><a routerLink="/hotel/{{ item._id }}">{{ item.name }}</a></strong>
        <app-star-rating [starRating]="item.stars"></app-star-rating>
    </div>
    <div>
        <div class="place"><span></span>
            {{ item.address.city.label }}, 
            {{ item.address.street }}
            {{ item.address.houseNumber }}
        </div>
    </div>
</div>

<div class="block">
    {{ item.description }}
</div>

<div class="block images">
    <div *ngFor="let img of item.images" class="img">
        <img [src]="img" alt="">
    </div>
</div>

<div *ngIf="hotelAmenities" class="block amenities">
    <div *ngFor="let amenity of hotelAmenities" class="amenity">
        <img [src]="amenity.image" alt="">
        {{ amenity.label }}
    </div>
</div>