@import "src/assets/sass/abstracts/variables.scss";

:host {
    margin: 50px 0;
    display: block;
    border: $border;
    padding: 20px 30px;
    border-radius: 3px;
}
.block {
    margin: 26px 0;
    &.images {
        display: flex;
        flex-wrap: wrap;
        .img {
            width: 25%;
            height: 154px;
            overflow: hidden;
            padding-right: 1px;
            margin-bottom: 1px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    &.amenities {
        flex-wrap: wrap;
        display: flex;
        .amenity {
            align-items: center;
            display: flex;
            font-size: 14px;
            margin: 6px 35px 6px 0;
            color: grey;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                background: #565656;
                right: -18px;
                border-radius: 8px;
            }
            img {
                width: 16px;
                height: auto;
                margin-right: 10px;
            }
        }
    }
}
.name {
    a {
        color: $color;
        font-size: 20px;
        margin-right: 10px;
    }
}
.price {
    font-size: 21px;
}
a {
    margin-right: 10px;
    color: black;
}
