<div *ngIf="!editItem">
    <div class="block d_flex flex_wrap align_center justify_content_between">
        <div class="name">
            <strong><a routerLink="/room/{{ item._id }}">{{ item.name }}</a></strong>
        </div>
        <strong><a routerLink="/hotel/{{ item.hotel._id }}">{{ item.hotel.name }}</a></strong>
        <app-star-rating [starRating]="item.hotel.stars"></app-star-rating>
    </div>

    <div class="block" *ngIf="item.price">
        <div class="price">
            <strong>{{ item.price| customCurrency }} <span class="currency">$</span></strong> / night
        </div>
    </div>

    <div class="block">
        {{ item.description }}
    </div>

    <div class="block images">
        <app-special [specials]="item.specials"></app-special>
        <div *ngFor="let img of item.images; trackBy: trackById" class="img">
            <img [src]="URL + img" alt="">
        </div>
    </div>

    <div class="block textFeatures">
        <div *ngFor="let field of item.textFeatures; trackBy: trackById" class="amenity">
            - {{ field }}
        </div>
    </div>

    <div class="control_buttons">
        <button class="edit" (click)="edit(item._id)" class="btn">Edit</button>
        <!-- <button class="rem" (click)="rem(item._id)" class="btn">Remove</button> -->
    </div>
</div>

<div *ngIf="editItem">
    <div class="name">
        <strong><a routerLink="/hotel/{{ item._id }}">{{ item.name }}</a></strong>
    </div>

    <app-form [controls$]="formStructure$" [defaultData]="defaultFormData" (valueChange)="onSubmit($event)" buttonName="Update"
        [showSpinner]="showSpinner" class="edit_room_form">
    </app-form>
    <app-alert-message></app-alert-message>

    <a (click)="cancelEdit()" class="cancel">Cancel</a>
</div>