@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin transition {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
