<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
<!-- {{form.valid}} -->
    <div class="controls_container" *ngIf="controls$ | async">
        <ng-container *ngFor="let control of controls$ | async; trackBy: trackById">

            <ng-container [ngSwitch]="control.controlType">

                <ng-container *ngSwitchCase="'sliderRange'">
                    <app-slider-range 
                        [formControlName]="control.key" 
                        [control]="control"
                        class="{{ control.controlType }}">
                    </app-slider-range>
                </ng-container>

                <ng-container *ngSwitchCase="'dateTimePicker'">
                    <app-date-time-picker 
                        [formControlName]="control.key" 
                        class="{{ control.controlType }}">
                    </app-date-time-picker>
                </ng-container>

                <ng-container *ngSwitchCase="'input'">
                    <div class="{{ control.controlType }} {{ control.key }}">
                        <div *ngIf="control.label" class="label" [ngClass]="{'required': control.required }">
                            {{ control.label }}
                        </div>
                        <!-- <div *ngIf="control.type == 'number'">
                            <input type="number" 
                                [formControlName]="control.key" 
                                [placeholder]="control.placeholder">
                        </div> -->
                        <!-- <div *ngIf="control.type != 'number'"> -->
                        <!-- <div *ngIf="control.type != 'number'"> -->
                            <input
                                [formControlName]="control.key"
                                [placeholder]="control.placeholder"
                                [type]="control.type">
                        <!-- </div> -->
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'pex'">
                    <app-pex
                        [formControlName]="control.key" 
                        [control]="control"
                        class="{{ control.controlType }}">
                    </app-pex>
                </ng-container>
                
                <ng-container *ngSwitchCase="'textarea'">
                    <div class="{{ control.controlType }} {{ control.key }}">
                        <div *ngIf="control.label" class="label" [ngClass]="{ 'required': control.required }">
                            {{ control.label }}
                        </div>
                        <textarea
                            [formControlName]="control.key"
                            [placeholder]="control.placeholder">
                        </textarea>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'address'">
                    <app-advanced-input 
                        [formControlName]="control.key" 
                        [control]="control"
                        class="{{ control.controlType }}">
                    </app-advanced-input>
                </ng-container>

                <ng-container *ngSwitchCase="'checkbox'">
                    <app-checkbox 
                        [formControlName]="control.key" 
                        [control]="control" 
                        class="{{ control.controlType }}">
                    </app-checkbox>
                </ng-container>

                <ng-container *ngSwitchCase="'textFeatures'">
                    <app-text-features 
                        [formControlName]="control.key" 
                        [control]="control" 
                        class="{{ control.controlType }} input">
                    </app-text-features>
                </ng-container>

                <ng-container *ngSwitchCase="'images'">
                    <app-images 
                        [formControlName]="control.key" 
                        [control]="control"
                        class="{{ control.controlType }} {{ control.key }}">
                    </app-images>
                </ng-container>

                <ng-container *ngSwitchCase="'dropdown'">
                    <app-dropdown 
                        [formControlName]="control.key" 
                        [control]="control" 
                        class="{{ control.controlType }}">
                    </app-dropdown>
                </ng-container>

                <ng-container *ngSwitchCase="'radio'">
                    <app-radio-final 
                        *ngIf="control.key == 'checked'" 
                        [control]="control"
                        [formControlName]="control.key">
                    </app-radio-final>
                </ng-container>

            </ng-container>
        </ng-container>

        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>

        <app-alert-message></app-alert-message>
        
        <button *ngIf="buttonName" type="submit" class="btn btn-orange w_100">
            <span>
                <mat-spinner *ngIf="showSpinner" strokeWidth="3" diameter="20"></mat-spinner>
            </span>
            {{ buttonName }}
        </button>
    </div>

    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    <ng-content select=".btn"></ng-content>
</form>