<ng-container *ngIf="role == 'user'">


    <!-- <div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'active').length > 0"> -->
    <div class="subtitle">Current orders</div>
    <div *ngIf="( bookings$ | async )?.length  == 0">
        No current orders yet.
    </div>
    <div *ngFor="let item of bookings$ | async ; trackBy: trackById">
        <div class="room {{ item.status }}">
            <div class="img">
                <img [src]="item.image" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ item.hotel.label }}</strong></a>
                    <app-star-rating [starRating]="item.hotel.stars"></app-star-rating>
                </h3>
                <strong>{{ item.room_name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ item.date[0] | formatDate }} - {{ item.date[1] | formatDate }}
                </div>
                <hr>
                <div class="d_flex align_center justify_content_center">
                    <div class="text_center"><strong>{{ item.nights }} nights</strong></div>
                    <div class="pex justify_content_center">
                        <span *ngIf="item.pex.adults">
                            <div *ngFor="let _ of arrayFrom(item.pex.adults);">
                                <span class="icon icon_adult"></span>
                            </div>
                        </span>
                        <span *ngIf="item.pex.children">
                            <div *ngFor="let _ of arrayFrom(item.pex.infants);">
                                <span class="icon icon_child"></span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ item.hotel.address.city.label }}, {{ item.hotel.address.street }}
                </div>
                <div class="text_center">
                    {{ item.price | customCurrency }} <span class="currency">$</span> x {{ item.nights }} nights <br>
                    <div class="price">
                        <span class="blue">
                            <strong>{{ item.price * item.nights  | customCurrency }}
                                <span class="currency">$</span></strong>
                        </span>
                    </div>

                </div>
                <button (click)="cancel(item.id)" class="btn btn-grey-outline w_100">
                    <span *ngIf="loading && calceledRoomId == item.id">
                        <mat-spinner strokeWidth="3" diameter="20"></mat-spinner>
                    </span>
                    Cancel
                </button>
                <a class="edit"><strong>Редактировать бронирование</strong></a>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!--
<div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'completed').length > 0">
    <div class="subtitle">Completed</div>
    <div *ngFor="let room of reservedRooms  | filterByState: 'completed'; trackBy: trackById">
        <div class="room">
            <div class="img">
                <img [src]="room.imgs[0]" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ room.hotel_name }}</strong></a>
                    <app-star-rating [starRating]="room.stars"></app-star-rating>
                </h3>
                <strong>{{ room.name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ room.date.checkin | formatDate }} - {{ room.date.checkout | formatDate }}
                </div>
                <strong>{{ room.nightCount }} nights</strong>
                <div>
                    <span *ngIf="room.pex?.adults">{{ room.pex?.adults }} adults</span>
                    <span *ngIf="room.pex?.adults && room.pex?.infants">, </span>
                    <span *ngIf="room.pex?.infants">{{ room.pex?.infants }} children</span>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ room.hotel_address.city }}, {{ room.hotel_address.street }}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'canceled').length > 0">
    <div class="subtitle">Canceled</div>
    <div *ngFor="let room of reservedRooms  | filterByState: 'canceled'; trackBy: trackById">
        <div class="room canceled">
            <div class="img">
                <img [src]="room.imgs[0]" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ room.hotel_name }}</strong></a>
                    <app-star-rating [starRating]="room.stars" class="grayscale"></app-star-rating>
                </h3>
                <strong>{{ room.name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ room.date.checkin | formatDate }} - {{ room.date.checkout | formatDate }}
                </div>
                <div>
                    <span *ngIf="room.pex?.adults">{{ room.pex?.adults }} adults</span>
                    <span *ngIf="room.pex?.adults && room.pex?.infants">, </span>
                    <span *ngIf="room.pex?.infants">{{ room.pex?.infants }} children</span>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ room.hotel_address.city }}, {{ room.hotel_address.street }}</div>
            </div>
        </div>
    </div>
</div> -->
</ng-container>

<ng-container *ngIf="role == 'member'">
    <app-member-orders></app-member-orders>
</ng-container>