<!-- <div *ngIf="(reservedRooms ).length  == 0">
    No orders yet.
</div>



<div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'active').length > 0">
    <div class="subtitle">Активные</div>
    <div *ngFor="let room of reservedRooms  | filterByState: 'active'; trackBy: trackById">
        <div class="room active">
            <div class="img">
                <img [src]="room.imgs[0]" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ room.hotel_name }}</strong></a>
                    <app-star-rating [starRating]="room.stars"></app-star-rating>
                </h3>
                <strong>{{ room.name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ room.date.checkin | formatDate }} - {{ room.date.checkout | formatDate }}
                </div>
                <hr>
                <div class="text_center"><strong>{{ room.nightCount }} nights</strong></div>
                <div class="pex justify_content_center">
                    <span *ngIf="room.pex?.adults">

                        <div *ngFor="let _ of arrayFrom(room.pex?.adults); trackBy: trackById">
                            <span class="icon icon_adult"></span>
                        </div>

                    </span>
                    <span *ngIf="room.pex?.infants">

                        <div *ngFor="let _ of arrayFrom(room.pex?.infants); trackBy: trackById">
                            <span class="icon icon_child"></span>
                        </div>

                    </span>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ room.hotel_address.city }}, {{ room.hotel_address.street }}</div>
                <div class="text_center">
                    {{ room.price | customCurrency }} <span class="currency">$</span> x {{ room.nightCount }} nights <br>
                    <div class="price">
                        <span class="blue">
                            <strong>{{ room.price * room.nightCount  | customCurrency }} 
                                <span class="currency">$</span></strong>
                        </span>
                    </div>

                </div>
                <button (click)="cancel(room.id)" class="btn btn-grey-outline w_100">
                    <span *ngIf="loading && calceledRoomId == room.id">
                        <mat-spinner strokeWidth="3" diameter="20"></mat-spinner>
                    </span>
                    Cancel
                </button>
                <a class="edit"><strong>Редактировать бронирование</strong></a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'completed').length > 0">
    <div class="subtitle">Completed</div>
    <div *ngFor="let room of reservedRooms  | filterByState: 'completed'; trackBy: trackById">
        <div class="room">
            <div class="img">
                <img [src]="room.imgs[0]" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ room.hotel_name }}</strong></a>
                    <app-star-rating [starRating]="room.stars"></app-star-rating>
                </h3>
                <strong>{{ room.name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ room.date.checkin | formatDate }} - {{ room.date.checkout | formatDate }}
                </div>
                <strong>{{ room.nightCount }} nights</strong>
                <div>
                    <span *ngIf="room.pex?.adults">{{ room.pex?.adults }} adults</span>
                    <span *ngIf="room.pex?.adults && room.pex?.infants">, </span>
                    <span *ngIf="room.pex?.infants">{{ room.pex?.infants }} children</span>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ room.hotel_address.city }}, {{ room.hotel_address.street }}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reservedRooms.length > 0 && (reservedRooms  | filterByState: 'canceled').length > 0">
    <div class="subtitle">Canceled</div>
    <div *ngFor="let room of reservedRooms  | filterByState: 'canceled'; trackBy: trackById">
        <div class="room canceled">
            <div class="img">
                <img [src]="room.imgs[0]" alt="">
            </div>
            <div class="info">
                <h3>
                    <a><strong>{{ room.hotel_name }}</strong></a>
                    <app-star-rating [starRating]="room.stars" class="grayscale"></app-star-rating>
                </h3>
                <strong>{{ room.name}}</strong>
                <div>
                    <span class="date">Date:</span>
                    {{ room.date.checkin | formatDate }} - {{ room.date.checkout | formatDate }}
                </div>
                <div>
                    <span *ngIf="room.pex?.adults">{{ room.pex?.adults }} adults</span>
                    <span *ngIf="room.pex?.adults && room.pex?.infants">, </span>
                    <span *ngIf="room.pex?.infants">{{ room.pex?.infants }} children</span>
                </div>
            </div>
            <div class="button">
                <div class="place"><span></span>{{ room.hotel_address.city }}, {{ room.hotel_address.street }}</div>
            </div>
        </div>
    </div>
</div> -->
orders